<!DOCTYPE html>
<html>
<head>
    <title>{{ config.get('title') }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assets_url }}css/new_style.css">
    <link rel="stylesheet" href="{{ assets_url }}css/responsive.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<div class="reservation-calender">
    <img class="for-calender-right" src="{{ assets_url }}images/for-calender.png" >
    <img class="for-calender-left" src="{{ assets_url }}images/for-calender.png" >
    <span class="calender-month">Sep</span>
    <span class="calender-day">13</span>
    <span class="calender-year">{{ day }}</span>
</div>
<header>
    <div class="sub-header">
        <div class="welcome-screen-logo">
            <img src="{{ assets_url }}images/logo.png" >
        </div>
    </div>
</header>
<div class="container">
    <div class="sub-container">
        <div class="patient_list">
            <h2 class="patient_list_title"><span>List Of Patient</span></h2>
            <div class="all_patient_list">
                <div class="patient_list_header">
                    <ul>
                        <li><span><span>NO.</span></span> Name</li>
                    </ul>
                </div>
                <ul class="list-patient patients-will-attend" id="sortable">
                    {% for item in queue %}
                    <li class="late"><div class="patient-icon"><span>{{ item.number }}</span></div>{{ item.name }} {{ item.time }}<span class="patient-in-list"></span></li>
                    {% endfor %}


                    {#<li class="normal"><div class="patient-icon"><span>5</span></div> Name <span class="patient-in-list"></span></li>#}
                    {#<li class="attend"><div class="patient-icon"><span>5</span></div> Name <span class="patient-in-list"></span></li>#}
                    {#<li class="wait"><div class="patient-icon"><span>5</span></div> Name <span class="patient-in-list"></span></li>#}
                </ul>
            </div>
        </div>

        <div class="right-side">
            <div class="main-late-patient">
                <h2 class="patient_list_title"><span>Late Patient</span></h2>
                <div class="late-patients">
                    <ul class="patients-will-attend">
                        {% for item in queue %}
                        <li><span class="patient-icon-span late"><span>{{ item.number }}</span></span> {{ item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="reservation-note">
                <h2>Take care</h2>
                <div class="reservation-note-content">
                    <span>Login precedence booking.</span>
                </div>
                <div class="reservation-note-content">
                    <span>Login precedence booking Login precedence booking</span>
                </div>
                <div class="reservation-note-content">
                    <span>Login precedence booking Login precedence booking Login precedence booking</span>
                </div>
            </div>

            <div class="reservation-note guide-note">
                <h2>Gide Posts</h2>
                <div class="gide-note-content">
                    <span class="gide attend"></span>
                    <span>Patient How attend</span>
                </div>
                <div class="gide-note-content">
                    <span class="gide entered"></span>
                    <span>Patient How attend and entered</span>
                </div>
                <div class="gide-note-content">
                    <span class="gide late"></span>
                    <span>Patient How is n't attend yet in his time</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
    $(function () {
        $("#sortable2").sortable();
        $("#sortable2").disableSelection();
    });




    function atttend(time, name, n, id) {
        var that = $(this);
        $.post("{{helper.uri.url('clinic_welcome_screen/attend')}}", {
            user_id: id,
            date: "{{date}}",
            time: time
        }, function (status) {
            if (!status.connected == 1) {
                that.parent().removeClass('entered');
                that.parent().addClass('attend');
            }
        });
        return false;
    }

    function enter(time, name, n, id) {
        var that = $(this);
        $.post("{{helper.uri.url('clinic_welcome_screen/enter')}}", {
            user_id: id,
            date: "{{date}}",
            time: time
        }, function (status) {
            if (!status.connected == 1) {
                that.parent().parent().remove();
            }
        });
        return false;
    }

    function late(time, name, n, id) {
        var late = $('#sortable2');
        var that = $(this);
        {#            var time = that.data('time');#}
        {#console.log(time);
        var name = $(this).data('name');
        var n = $(this).data('no');#}
        $.post("{{helper.uri.url('clinic_welcome_screen/late')}}", {
            user_id: id,
            date: "{{date}}",
            time: time
        }, function (status) {
            if (!status.connected == 1) {
                that.parent().parent().remove();
                late.append('<tr><td>' + n + '</td><td class="patient-name late" >' + name + ' <input type="button" data-id="' + id + '" data-time="' + time + '" class="enter" value="Enter" id="enter"></td><tr> ');
            }
        });
    }

    function cancel(time, name, n, id) {
        var that = $(this);
        $.post("{{helper.uri.url('clinic_welcome_screen/cancel')}}", {
                    user_id: id,
                    date: "{{date}}",
                    time: time,
                    clinic_schedule_id:{{clinic_schedule_id}}
                }, function (status) {
                    if (!status.connected == 1) {
                        that.parent().parent().remove();
                    }
                }
        );
        return false;
    }

    $(function () {
//            $("#sortable").sortable();
                    {#$("#sortable").disableSelection();#}
            {#});#}
            {#$(function () {#}
            {#$("#sortable2").sortable();#}
                    {#$("#sortable2").disableSelection();#}
            {#});&#35;&#125;#}
    {#$(document).ready(function () {#}
        {#$("#page").load('{{helper.uri.url('clinic_welcome_screen/index/')}}' + {{doctor_id}});#}
        {#var refreshId = setInterval(function () {#}
            {#$("#page").load('{{helper.uri.url('clinic_welcome_screen/index/')}}' + {{doctor_id}});#}
            {#&#123;&#35; $(function () {#}
                     {#$("#sortable").sortable();#}
                     {#$("#sortable").disableSelection();#}
                 {#});#}
            {#$(function () {#}
             {#$("#sortable2").sortable();#}
             {#$("#sortable2").disableSelection();#}
            {#});&#35;&#125;#}
        {#}, 10000);#}
        {#$.ajaxSetup({cache: false});#}
        {#$('.cancel').click(function () {#}
            {#var that = $(this);#}
            {#var id = $(this).data('id');#}
            {#var time = $(this).data('time');#}
            {#$.post("{{helper.uri.url('clinic_welcome_screen/cancel')}}", {#}
                {#user_id: id,#}
                {#date: "{{date}}",#}
                {#time: time,#}
                {#clinic_schedule_id:{{clinic_schedule_id}}#}
            {#}, function (status) {#}
                {#if (!status.connected == 1) {#}
                    {#that.parent().parent().remove();#}
                {#}#}
            {#});#}
            {#return false;#}
        {#});#}
        {#$('.late').click(function () {#}
            {#var late = $('#sortable2');#}
            {#var that = $(this);#}
            {#var id = $(this).data('id');#}
            {#var time = $(this).data('time');#}
            {#var name = $(this).data('name');#}
            {#var n = $(this).data('no');#}
            {#$.post("{{helper.uri.url('clinic_welcome_screen/late')}}", {#}
                {#user_id: id,#}
                {#date: "{{date}}",#}
                {#time: time#}
            {#}, function (status) {#}
                {#if (!status.connected == 1) {#}
                    {#that.parent().parent().remove();#}
                    {#late.append('<tr><td>' + n + '</td><td class="patient-name late" >' + name + ' <input type="button" data-id="' + id + '" data-time="' + time + '" class="enter" value="Enter" id="enter"></td><tr> ');#}
                {#}#}
            {#});#}
        {#});#}
        {#$(document).on('click', '.enter', function () {#}
            {#var that = $(this);#}
            {#var id = $(this).data('id');#}
            {#var time = $(this).data('time');#}
            {#$.post("{{helper.uri.url('clinic_welcome_screen/enter')}}", {#}
                {#user_id: id,#}
                {#date: "{{date}}",#}
                {#time: time#}
            {#}, function (status) {#}
                {#if (!status.connected == 1) {#}
                    {#that.parent().parent().remove();#}
                {#}#}
            {#});#}
            {#return false;#}
        {#});#}
        {#$('.atttend').click(function () {#}
            {#var that = $(this);#}
            {#var id = $(this).data('id');#}
            {#var time = $(this).data('time');#}
            {#$.post("{{helper.uri.url('clinic_welcome_screen/attend')}}", {#}
                {#user_id: id,#}
                {#date: "{{date}}",#}
                {#time: time#}
            {#}, function (status) {#}
                {#if (!status.connected == 1) {#}
                    {#that.parent().removeClass('entered');#}
                    {#that.parent().addClass('attend');#}
                {#}#}
            {#});#}
            {#return false;#}
        {#});#}
    });
</script>
</body>
</html>























    {#<div class="sub-container">#}

        {#<div class="patient_list" id="patient_list">#}
            {#<h2 class="patient_list_title"> List Of Patient</h2>#}
            {#<table>#}
                {#<thead>#}
                {#<th class="min-col">No</th>#}
                {#<th>Name</th>#}
                {#&#123;&#35;<th class="min-col">Attend</th>#}
                {#<th class="min-col">Entered</th>&#35;&#125;#}
                {#</thead>#}
                {#<tbody id="sortable">#}

                {#{% for item in queue %}#}
                    {#<tr>#}
                        {#<td>{{ item.n }}</td>#}
                        {#<td class="patient-name {% if item.status == 'attend' %}attend{% else %}entered{% endif %}"#}
                            {#value="{{ item.name }}" id="{{ item.id }}">{{ item.name }}#}
                            {#{% if item.status == 'attend' %}#}
                                {#<input type="button" data-id="{{ item.id }}" data-time="{{ item.time }}" class="enter"#}
                                       {#onclick="enter('{{ item.time }}', '{{ item.name }}', '{{ item.n }}', '{{ item.id }}')"#}
                                       {#value="Enter" id="enter">#}
                            {#{% else %}#}
                                {#<input type="button" data-id="{{ item.id }}" data-time="{{ item.time }}" class="attend"#}
                                       {#onclick="atttend('{{ item.time }}', '{{ item.name }}', '{{ item.n }}', '{{ item.id }}')"#}
                                       {#value="Attned" id="attend">#}
                            {#{% endif %}#}
                            {#<input type="button" data-no="{{ item.n }}" data-id="{{ item.id }}"#}
                                   {#data-time="{{ item.time }}" data-name="{{ item.name }}" class="late"#}
                                   {#onclick="late('{{ item.time }}', '{{ item.name }}', '{{ item.n }}', '{{ item.id }}')"#}
                                   {#value="Late" id="late">#}
                            {#{% if item.status != 'attend' %}#}
                                {#<input type="button" data-id="{{ item.id }}" data-time="{{ item.time }}" class="cancel"#}
                                       {#onclick="cancel('{{ item.time }}', '{{ item.name }}', '{{ item.n }}', '{{ item.id }}')"#}
                                       {#value="Cancel" id="cancel">#}
                            {#{% endif %}#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}
        {#</div>#}
        {#<div class="late_patients" id="late_patients">#}
            {#<h2 class="late_patient_title">Late Patients</h2>#}
            {#<table>#}
                {#<thead>#}
                {#<th>No</th>#}
                {#<th>Name</th>#}
                {#</thead>#}
                {#{% set i = 0 %}#}
                {#<tbody id="sortable2">#}
                {#{% for item in late %}#}
                    {#<tr>#}
                        {#<td>{{ item.n }}</td>#}
                        {#<td class="patient-name late">{{ item.name }} <input type="button" data-id="{{ item.id }}"#}
                                                                             {#data-time="{{ item.time }}" class="enter"#}
                                                                             {#value="Enter" id="enter"></td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}

        {#</div>#}
    {#</div>#}

