

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.teams}}</h3>

        <div class="panel-options">
            <a href="{{ helper.uri.url('management/pm_teams/manage') }}" class="btn btn-secondary" style="color:#fff;">{{ lang.add}}</a>
        </div>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped" id="">
            <thead>

            <tr>
                <th>{{ lang.title }}</th>
                <th>{{ lang.desc }}</th>
                <th>{{ lang.leader }}</th>
                <th>{{ lang.operations }}</th>
            </tr>
            </thead>


            <tbody class="middle-align">
            {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.team_leader }}</td>

                <td>
                    <a href="{{ helper.uri.url('management/pm_teams/manage', item.pm_team_id )}}" class="btn btn-secondary"   style="color:#fff;">{{ lang.edit }}</a>
                    <a href="" class="btn btn-danger delete_msg" data-toggle="modal" data-url_id="{{ helper.uri.url('management/pm_teams/delete', item.pm_team_id )}}" data-target="#deleteMsg1" style="color:#fff;">{{ lang.delete }}</a>

                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
{{pagination}}
    </div>

    <div class="modal fade" id="deleteMsg1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{lang.system_msg}}</h4>
                </div>
                <div class="modal-body">
                    <a>{{lang.delete_item}}</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ lang.no }}</button>

                    <a id="delete_id" class="btn btn-danger" href="">{{lang.delete}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="edit1">{{ lang.edit_team }}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="edit_team">

                        <div class="form-group">
                            <label for="field-4" class="col-sm-3 control-label">{{ lang.title }}</label>

                            <div class="col-sm-9">
                                <input type="text" id="title" cols="5" value ="{{ item.title }}" class="form-control" name="title" autocomplete="off">
                            </div>

                        </div>
                        <div class="form-group-separator"></div>

                        <div class="form-group">

                            <label for="field-5" class="col-sm-3 control-label">{{ lang.desc }}</label>

                            <div class="col-sm-9">
                                <textarea id="description" cols="5" class="form-control" name="name" autofocus >{{ item.description }}</textarea>
                            </div>
                        </div>

                        <input type="hidden" id="edit_id">

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ lang.leader }}</label>

                            <div class="col-sm-9">
                                <select class="form-control">
                                    {{helper.form.dropdown('pm_team_leader_id', user, helper.form.value('pm_team_leader_id',item.pm_team_leader_id),
                                    'class="form-control"')  }}

                                </select>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">

                                <a id="submit_id" class="btn btn-secondary " href="">{{lang.submit}}</a>
                                {#<input type="submit" id="submit_id" class="btn btn-info"  value ="{{ lang.submit }}">#}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



<script type="text/javascript">
   {# j#}{#Query(document).ready(function ($) {
        $("#datatable").dataTable();
    });#}

    $(document).on("click", ".delete_msg", function () {
        var full_url = $(this).data('url_id');
        $("#delete_id").attr('href', full_url);
    });
    $(document).on("click", ".edit", function () {
        var team_id = $(this).data('team_id');
        var desc = $(this).data('description');
        var title = $(this).data('title');

        $("#edit_id").val( team_id);
        $("#title").val(title);
        $("#description").val( desc);
        var full_url = $(this).data('url_id');
        $("#submit_id").attr('href', full_url);
    });
    $('#edit_team').submit(function(){
        $.post('{{ helper.uri.url('management/pm_teams/manage' )}}'
        + $("#edit_id").val(), $(this).serialize(), function(response){

        });

        return false; //3shan my3mlsh request bel submit
    });
</script>