<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title">{{ lang.patient_details}} </h3>

        <div class="panel-options">

        </div>

    </div>
    <div class="panel-body">

        <section class="profile-env col-sm-12">

            <div class="row">

                <div class="col-sm-3">

                    <!-- User Info Sidebar -->
                    <div class="user-info-sidebar">
                        <a href="#" class="user-img">
                            <img src="{{ helper.uri.cdn() }}users/{{ patient.image }}" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                        </a>

                        <span class="user-name">
                            {{patient.fullname}}
                        </span>
                    </div>

                </div>

                <div class="col-sm-9">
                    <div class="tabs-vertical-env tabs-vertical-bordered"><!-- add class "right-aligned" for the right aligned tabs -->

                        <ul class="nav tabs-vertical">
                            <li class="active"><a href="#v4-profile" data-toggle="tab">{{lang.profile}}</a></li>
                            <li class><a href="#v4-disease" data-toggle="tab">{{lang.diseases}}</a></li>
                            <li><a href="#v4-xrays" data-toggle="tab">{{lang.xrays}}</a></li>
                            <li><a href="#v4-notes" data-toggle="tab">{{lang.notes}}</a></li>
                        </ul>

                        <div class="tab-content">
                            {#Profile#}
                            <div class="tab-pane active" id="v4-profile">
                                <a href="{{ helper.uri.url('management/users/manage', id  ) }}" class="btn btn-secondary  btn-icon btn-icon-standalone patient-edit-profile" style="color: #FFF; float:right;"> 
                                    <i class="fa fa-pencil-square-o"></i>
                                    <span>{{ lang.edit_user }}</span>
                                </a>
                                <ul class="list-unstyled user-info-list">
                                     {% for item in address %}
                                    <li> <i class="fa-home"></i> {{ item.address }} </li>
                                    {% endfor %}
                                    {% for phone in phones %}
                                    <li> <i class="fa fa-phone"></i> {{ phone.phone }} </li>
                                    {% endfor %}
                                    <li> <i class="fa fa-envelope"></i> {{ patient.email }} </li>
                                    <li> <i class="fa fa-user"></i> {{ patient.gender }} </li>
                                    <li> <i class="fa fa-calendar"></i> {{ patient.birthdate }} </li>
                                </ul>
                            </div>
                            {#disease#}
                            <div class="tab-pane" id="v4-disease">
                                <a href="#" class="btn btn-secondary show-diseases" style="color: #FFF; float:right;" href="#" data-toggle="modal" data-target="#myModal" rel="add" data-id="{{ id }}"> {{ lang.add }} </a>

                                <table class="table table-bordered table-striped data_diseases" >
                                    <thead>
                                        <tr>
                                            <th>{{ lang.disease }}</th>
                                            <th>{{ lang.note }}</th>
                                            <th>{{ lang.operations }}</th>
                                        </tr>
                                    </thead>

                                    <tbody class="middle-align">

                                        {% for disease in diseases %}

                                            <tr class="disease_{{disease.clinic_patient_disease_id}}">
                                                <td>{{ disease.title }}</td>
                                                <td>{{ disease.note }}</td>
                                                <td>
                                                    <a href="{{ helper.uri.url('management/clinic_patient_diseases/manage', disease.clinic_patient_disease_id) }}" class="btn btn-secondary btn-sm show-diseases" data-toggle="modal" data-target="#myModal" rel="edit" data-id="{{ disease.clinic_patient_disease_id }}">{{lang.edit}}</a>
                                                    <a class="btn btn-danger btn-sm delete" href="{{ helper.uri.url('management/clinic_patient_diseases/delete', disease.clinic_patient_disease_id) }}">{{ lang.delete }}</a>
                                                </td>  
                                            </tr>

                                        {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                            {#xrays#}
                            <div class="tab-pane" id="v4-xrays">
                                <a href="#" class="btn btn-secondary show-xrays" style="color: #FFF; float:right;" href="#" data-toggle="modal" data-target="#myModal2" rel="add" data-id="{{ id }}"> {{ lang.add }} </a>

                                <table class="table table-bordered table-striped data_xrays" >
                                    <thead>
                                        <tr>
                                            <th>{{ lang.title }}</th>
                                            <th>{{ lang.description }}</th>
                                            <th>{{ lang.operations }}</th>
                                        </tr>
                                    </thead>

                                    <tbody class="middle-align">
                                        {% for xray in xrays %}

                                            <tr class="xray_{{xray.clinic_xray_negative_id}}">
                                                <td>{{ xray.title }}</td>
                                                <td>{{ xray.description }}</td>
                                                <td>
                                                    <a href="{{ helper.uri.url('management/clinic_xray_negative/manage', xray.clinic_xray_negative_id) }}" class="btn btn-secondary btn-sm show-xrays"  data-toggle="modal" data-target="#myModal2" rel="edit" data-id="{{ xray.clinic_xray_negative_id}}">{{lang.edit}}</a>
                                                    <a class="btn btn-danger btn-sm delete" href="{{ helper.uri.url('management/clinic_xray_negative/delete', xray.clinic_xray_negative_id) }}">{{ lang.delete }}</a>
                                                </td>  
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>                  
                            </div>
                            {#notes#}
                            <div class="tab-pane" id="v4-notes">
                                <a href="#" class="btn btn-secondary show-notes" style="color: #FFF; float:right;" href="#" data-toggle="modal" data-target="#myModal3" rel="add" data-id="{{ id }}"> {{ lang.add }} </a>

                                <table class="table table-bordered table-striped data_note" >
                                    <thead>
                                        <tr>
                                            <th>{{ lang.note }}</th>

                                            <th>{{ lang.operations }}</th>
                                        </tr>
                                    </thead>

                                    <tbody class="middle-align">
                                        {% for note in notes %}
                                            <tr class="note_{{note.clinic_patient_note_id}}" >
                                                <td>{{ note.note }}</td>
                                                <td>
                                                    <a href="{{ helper.uri.url('management/clinic_patients_notes/manage', note.clinic_patient_note_id) }}" class="btn btn-secondary btn-sm show-notes"  data-toggle="modal" data-target="#myModal3" rel="edit" data-id="{{ note.clinic_patient_note_id}}">{{lang.edit}}</a>
                                                    <a class="btn btn-danger btn-sm delete" href="{{ helper.uri.url('management/clinic_patients_notes/delete', note.clinic_patient_note_id) }}">{{ lang.delete }}</a>
                                                </td>  
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>                              
                            </div>
                        </div>

                    </div>	
                </div>

            </div>

        </section>
    </div>
</div>

{#     Disease     #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.disease}}</h4>
            </div>
            <div class="modal-body">
                <div class="for-show-diseases"></div>
            </div>
        </div>
    </div>
</div>            
{#     X-RAYS     #}
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.xrays}}</h4>
            </div>
            <div class="modal-body">
                <div class="for-show-xrays"></div>
            </div>
        </div>
    </div>
</div>       

{#    Notes     #}
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.notes}}</h4>
            </div>
            <div class="modal-body">
                <div class="for-show-notes"></div>
            </div>
        </div>
    </div>
</div>            


<script src="{{ constant('STYLE_JS') }}/select2/select2.min.js"></script>

<script type="text/javascript">
    
    $('.show-diseases').click(function () {
        patient.diseases($(this).attr('rel'),$(this).data('id'));
    });
    $('.show-xrays').click(function () {
        patient.xrays($(this).attr('rel'),$(this).data('id'));
    });
    $('.show-notes').click(function () {
        patient.notes($(this).attr('rel'),$(this).data('id'));
    });

    var patient = {
        diseases: function (op, id) {
            $.get('{{ helper.uri.url('management/clinic_patient_diseases/manage/') }}' + op + '/' + id, function (data) {
                $('.for-show-diseases').html(data);
            });
        },
        xrays: function (op, id) {
            $.get('{{ helper.uri.url('management/clinic_xray_negative/manage/') }}' + op + '/' + id, function (data) {
                $('.for-show-xrays').html(data);
            });
        },
        notes: function (op, id) {
            $.get('{{ helper.uri.url('management/clinic_patients_notes/manage/') }}' + op + '/' + id, function (data) {
                $('.for-show-notes').html(data);
            });
        }
    };

// DELETE BUTTONS
    $('.delete').click(function () {
        var button = $(this);
        $.get($(this).attr('href'), function (data) {
            button.parent().parent().remove();
        });
        return false;
    });


</script>




