<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.patient }}</h3>
        {#<div class="panel-options">
            <a href="{{ helper.uri.url('management/clinic_patients/manage') }}" class="btn btn-secondary" style="color: #FFF;">
                {{ lang.add }}
            </a>
        </div>#}

    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th>{{ lang.fullname }}</th>
                    <th class="no-sorting">{{ lang.operations }}</th>
                </tr>
            </thead>

            <tbody class="middle-align">

                {% for item in items %}
                    <tr>
                        <td>{{ item.fullname }}</td>
                        <td>
                            <a class="btn btn-secondary btn-sm show-patient-details" href="{{ helper.uri.url('management/clinic_patients/details', item.user_id) }}">{{ lang.details }}</a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
            {{pagination}}

    </div>
</div>


{#     Details       #}
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.details}}</h4>

            </div>
            <div class="modal-body">
                <div class="for-show-details"></div>
            </div>
        </div>
    </div>
</div> 


{#     Disease        #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.disease}}</h4>

            </div>
            <div class="modal-body">
                <div class="for-show-diseases"></div>
            </div>
        </div>
    </div>
</div>            
<script type="text/javascript">

        jQuery(document).ready(function ($)
        {
            $("#s2example-2").select2({
                placeholder: 'Choose your favorite US Countries',
                allowClear: true
            }).on('select2-open', function ()
            {
                // Adding Custom Scrollbar
                $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
            });

        });

        $('.show-disease').click(function () {
            $.get('{{ helper.uri.url('management/patients/report/') }}' + $(this).attr('rel'), function (data) {
                $('.for-show-diseases').html(data);
            });
        });

        $('.show-patient-details').click(function () {
            $.get('{{ helper.uri.url('management/patients/details/') }}' + $(this).attr('rel'), function (data) {
                $('.for-show-details').html(data);
            });
        });

</script>
