
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.patients }}</h3>
        <button class="btn btn-secondary" onclick="goBack()" style="float: right;">{{ lang.back }}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
    <div class="panel-body">
        {{ helper.form.open(null,false,false,'role="form" class="form-horizontal"') }}
        {{ error }}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">{{ lang.search_user }}</label>
            <div class="col-sm-5 ">
                <select class="form-control criteria" onchange="search();" name="criteria">
                    <option value="fullname">{{lang.fullname}}</option>
                    <option value="email">{{lang.email}}</option>
                    <option value="phone">{{lang.phone}}</option>
                </select>
            </div>
            <div class="col-sm-5 search_input">
                {{ helper.form.dropdown('fullname', user_fullname, helper.form.value('fullname', item.fullname), 'class="form-control select2" id="fullname"') }}
                {{ helper.form.dropdown('email', user_email, helper.form.value('email', item.email), 'class="form-control select2" id="email"') }}
                {{ helper.form.dropdown('phone', user_phone, helper.form.value('phone', item.phone), 'class="form-control select2" id="phone"') }}
            </div>

        </div>
        <table class="table table-bordered table-striped user-patient-details">
            <thead>
                <tr>
                    <th>{{ lang.field }}</th>
                    <th>{{ lang.details}}</th>

                </tr>
            </thead>
            <tbody class="middle-align">
                <tr>
                    <td>{{ lang.fullname }}</td>
                    <td class="user-info-fullname"></td>
                </tr>
                <tr>
                    <td>{{ lang.email }}</td>
                    <td class="user-info-email"></td>
                </tr>
                <tr>
                    <td>{{ lang.phone }}</td>
                    <td class="user-info-phone"></td>
                </tr>
                <tr>
                    <td>{{ lang.gender }}</td>
                    <td class="user-info-gender"></td>
                </tr>
            </tbody>
        </table>

        <div class="form-group-separator"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="birthdate">{{ lang.birthdate }}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" id="birthdate" placeholder="{{ lang.birthdate }}" name="birthdate"
                           value="{{ helper.form.value('birthdate', item.birthdate) }} " data-format="yyyy-mm-dd">

                    <div class="input-group-addon">
                        <a href="#"><i class="linecons-calendar"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-separator"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">{{ lang.note }}</label>

            <div class="col-sm-10">
                <textarea class="form-control" id="note" placeholder="{{ lang.note }}" name="note">{{item.note}}</textarea>
            </div>
        </div>

        <div class="form-group-separator"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <a href="{{ helper.uri.url('management/clinic_patients/index') }}" class="btn btn-danger cancel-button">{{lang.cancel}}</a>
                <button type="submit" class="btn btn-secondary" style="float: right;">{{lang.submit}}</button>
            </div>
        </div>
        {{ helper.form.close() }}

    </div>
</div>

<script src="{{ constant('STYLE_JS') }}/datepicker/bootstrap-datepicker.js"></script>

<script>
        jQuery(document).ready(function ($)
        {
            search();
            $(".criteria").change(function () {
                search();
            });

            $('.search_input select').change(function(){
                $('.user-patient-details').hide();
            $.getJSON('{{ helper.uri.url('management/clinic_patients/get_user_information/') }}' + $(this).val(), function (data) {
                $('.user-info-fullname').html(data.user.fullname);
                $('.user-info-email').html(data.user.email);
                $('.user-info-phone').html(data.user.phone);
                $('.user-info-gender').html(data.user.gender);
        
        $('.user-patient-details').show();
                
            });
            });
        });

        function search() {
                        $('.search_input select').each(function () {
                            $(this).select2("container").hide();
                        });
                        $('.search_input #' + $('.criteria').val()).select2("container").show();
                    }


</script>


<style>
    .user-patient-details{
        display: none;
    }
    
</style>