
<div class="container">
    <div class="panel panel-default profile">
        <div class="panel-heading">
            <h2 class="panel-title" style="font-weight:bold">{{ lang.profile_reports}} </h2>
        </div>
        <div class="panel-body">
            <section class="profile-env col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- User Info Sidebar -->
                        <div class="user-info-sidebar">
                            <a href="#" class="user-img">
                                <img src="{{ helper.uri.cdn() }}users/{{ item.image }}" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                            </a>
                            <span class="user-name">
                                {{item.fullname}}
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="tabs-vertical-env tabs-vertical-bordered"><!-- add class "right-aligned" for the right aligned tabs -->

                            <ul class="nav tabs-vertical">
                                <li class="active"><a href="#v4-profile" data-toggle="tab">{{lang.profile}}Personal Info</a></li>
                                <li class><a href="#v4-disease" data-toggle="tab">{{lang.diseases}}Diseases</a></li>
                                <li><a href="#v4-xrays" data-toggle="tab">{{lang.xrays}}Xrays</a></li>
                                <li><a href="#v4-notes" data-toggle="tab">{{lang.notes}}Notes</a></li>
                            </ul>

                            <div class="tab-content">
                                {#-------Personal Info-------#}

                                <div class="tab-pane active" id="v4-profile">
                                    {%if id == idlog%}
                                        <a href="#" data-toggle="modal" data-target="#personal_info" class="btn btn-warning  btn-icon btn-icon-standalone patient-edit-profile" style="color: #FFF; float:right;">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>{{ lang.edit_profile }}</span>
                                        </a>
                                    {%endif%}
                                    <ul class="list-unstyled user-info-list">
                                        {%for add in address%}
                                            {%if add.primary == 1%}
                                                <li class="address"> <i class="fa-home"></i> {{ add.address }} </li>
                                                {%endif%}
                                            {%endfor%}
                                            {%if not address%}
                                            <li class="address"> <i class="fa-home"></i></li>
                                            {%endif%}
                                            {%for no in phones%}
                                                {%if no.primary == 1 %}
                                                <li class="phone"> <i class="fa fa-phone"></i> {{ no.phone }} </li>
                                                {%endif%}
                                            {%endfor%}
                                            {%if not phones%}
                                            <li class="phone"> <i class="fa fa-phone"></i></li>
                                            {%endif%}
                                        <li class="email"> <i class="fa fa-envelope"></i> {{ item.email }} </li>
                                        <li class="password"> <i class="fa fa-lock"></i>
                                            {#                                            <input type="password" value="{{ item.password }}"style="border: medium none; background-color: #fff;" disabled>#}
                                            {%if id == idlog%}
                                            <a href="#" data-toggle="modal" data-target="#edit" style="margin-left:10px;">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span>{{ lang.edit }}</span>
                                            </a>
                                            {%endif%}
                                        </li>
                                        <li class="gender"> <i class="fa fa-user"></i> {{ item.gender }} </li>
                                        <li class="birthdate"> <i class="fa fa-calendar"></i> {{ item.birthdate }} </li>
                                    </ul>
                                </div>
                                {#-------Disease-------#}
                                <div class="tab-pane" id="v4-disease">
                                    <table class="table table-bordered table-striped data_diseases" >
                                        <thead>
                                            <tr>
                                                <th>{{ lang.disease }}Diseases</th>
                                                <th>{{ lang.note }}Notes</th>
                                            </tr>
                                        </thead>

                                        <tbody class="middle-align">

                                            {% for disease in diseases %}

                                                <tr class="disease_{{disease.clinic_patient_disease_id}}">
                                                    <td>{{ disease.title }}</td>
                                                    <td>{{ disease.note }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                {#-------X-Rays-------#}
                                <div class="tab-pane" id="v4-xrays">
                                    <table class="table table-bordered table-striped data_xrays" >
                                        <thead>
                                            <tr>
                                                <th>{{ lang.title }} Title</th>
                                                <th>{{ lang.description }} Description</th>
                                            </tr>
                                        </thead>

                                        <tbody class="middle-align">
                                            {% for xray in xrays %}

                                                <tr class="xray_{{xray.clinic_xray_negative_id}}">
                                                    <td>{{ xray.title }}</td>
                                                    <td>{{ xray.description }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>

                                {#-------Notes-------#}
                                <div class="tab-pane" id="v4-notes">
                                    <table class="table table-bordered table-striped data_note" >
                                        <thead>
                                            <tr>
                                                <th>{{ lang.note }}notes</th>
                                            </tr>
                                        </thead>

                                        <tbody class="middle-align">
                                            {% for note in notes %}
                                                <tr class="note_{{note.clinic_patient_note_id}}" >
                                                    <td>{{ note.note }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="personal_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title " id="myModalLabel">{{ lang.personal_info }}</h4>
                </div>
                <div class="modal-body">
                    <div class="for-show-personal-info">
                        <div class="modal_errors"></div>
                        {{ helper.form.open(null,false,true,'role="form" id="edit-form" class="form-horizontal"') }}
                        {{ error }}
                        {#----------fullname------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fullname">{{ lang.fullname }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control validate[required]" id="fullname" placeholder="{{ item.fullname }}" name="fullname"
                                       value="{{ helper.form.value('fullname', item.fullname) }}">
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        {#---------------email--------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="email">{{ lang.email }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control validate[required]" id="email" placeholder="{{ item.email }}" name="email"
                                       value="{{ helper.form.value('email', item.email) }}">
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        {#-----------gender------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"  for="gender">{{ lang.gender }}</label>
                            <div class="col-sm-10">
                                <input type="radio"  value="Female" {#value="{{ helper.form.value('gender', item.gender) }}"#} {%if item.gender == 'Female'%} checked {%endif%} name="gender"> {{ lang.female }} <br>
                                <input type="radio"  value="Male" {#value="{{ helper.form.value('gender', item.gender) }}"#} {%if item.gender == 'Male'%} checked {%endif%} name="gender"> {{ lang.male }} <br>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        {#---------------birthdate----------#}
                        <div class="form-group dashboard-birthdate">
                            <label class="col-sm-2 control-label" for="datepicker">{{ lang.birthdate }}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="datetime" class="form-control datepicker" id="birthdate" placeholder="birthdate" name="birthdate" data-format="yyyy-mm-dd" value="{{ helper.form.value('birthdate', item.birthdate) }}">
                                    <div class="input-group-addon">
                                        <a href="#"><i class="fa fa-calendar"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        {#--------------phone-----------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ lang.phone }}</label>
                            <div class="col-md-9">
                                {% if not phones %}
                                    <div class="form-group col-md-12">
                                        <label class="control-label primary">Primary {{ lang.primary }}</label>
                                        <input type="radio" class="primary" value="Primary" name="primary_phone" checked>
                                        <input class="form-control" name="phone[]" pho="pho" id="phone" value="{{ helper.form.value('phone', no.phone) }}" type="text" placeholder="{{no.phone}}"   style="margin-bottom:10px;">
                                    </div>
                                {% endif %}
                                {%for no in phones%}
                                    <div class="group" id="phone-group{{no.user_phone_id}}">
                                        <label class="control-label primary">Primary {{ lang.primary }}</label>
                                        <input id="id_rp{{no.user_phone_id}}" type="radio" class="primary" value="Primary" name="primary_phone" value="{{no.user_phone_id}}" {% if no.primary == 1%} checked {%endif%}>
                                        <span id="id_s{{no.user_phone_id}}" data-id="{{no.user_phone_id}}" class="delete-option delete-phone col-sm-1"><i class="fa fa-close"></i></span>
                                        <input class="form-control" name="phone[]" pho="pho" id="id_{{no.user_phone_id}}" value="{{ helper.form.value('phone', no.phone) }}" type="text" placeholder="{{no.phone}}"  style="margin-bottom:10px;">
                                        <input type="hidden" name="user_phone_id[]" id="phone" value="{{no.user_phone_id}}">
                                    </div>
                                {%endfor%}
                            </div>
                            <span class="add-another-option-phone col-sm-1"><i class="fa fa-plus-square"></i></span>
                        </div>
                        {#<div class="form-group-separator"></div>#}
                        {#-----------new phone---------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-md-9">
                                <div class="show-phone-option"></div>
                            </div>
                        </div>
                        {#------------address------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ lang.address }}</label>

                            <div class="col-md-9">
                                {% if not address %}
                                    {#<div class="form-group">#}
                                    <label class="control-label primary">Primary {{ lang.primary }}</label>
                                    <input type="radio" class="primary" value="Primary" name="primary_address" checked>
                                    <input class="form-control" name="address[]" add="add" id="address" value="{{ helper.form.value('address', add.address) }}" type="text" placeholder="{{add.address}}"  style="margin-bottom:10px;">
                                    {#</div>#}
                                {% endif %}
                                {%for add in address%}
                                    <div class="group" id="address-group{{add.user_address_id}}">
                                        <label class="control-label primary">Primary {{ lang.primary }}</label>
                                        <input type="radio" id="id_rd{{add.user_address_id}}" class="primary"  name="primary_address" value="{{add.user_address_id}}" {%if add.primary == 1%} checked {%endif%}>
                                        <span id="id_a{{add.user_address_id}}" data-id="{{add.user_address_id}}" class="delete-option address-delete col-sm-1"><i class="fa fa-close"></i></span>
                                        <input class="form-control" name="address[]" add="add" id="id_{{add.user_address_id}}" value="{{ helper.form.value('address', add.address) }}" type="text" pla_ceholder="{{add.address}}"  style="margin-bottom:10px;">
                                        <input type="hidden" name="user_address_id[]" id="address" value="{{add.user_address_id}}">
                                    </div>
                                {%endfor%}
                            </div>
                            <span class="add-another-option-address col-sm-1"><i class="fa fa-plus-square"></i></span>
                        </div>
                        {#<div class="form-group-separator"></div>#}
                        {#-------------new address--------------#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-md-9">
                                <div class="show-address-option"></div>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        {#--------------submit----------#}
                        <div class="form-group">
                            <label for="field-5" class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <input type="submit" value="Change" class="form-control submit-edit" style="line-height: normal;">
                            </div>
                        </div>
                        {#<div class="form-group-separator"></div>#}
                        {{ helper.form.close() }}
                        {#</form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title " id="myModalLabel">{{ lang.edit_pass }}Edit Password</h4>
                </div>
                <div class="modal-body">
                    <div class="for-show-personal-info">
                        <div class="modal_errors"></div>
                        {{ helper.form.open(null,false,true,'role="for1" id="rootwizard" class="form-wizard validate" novalidate') }}
                        {{ error }}
                        {#<ul class="tabs">
                            <li class="active">
                                <a href="#fwv-1" data-toggle="tab">
                                    Old password
                                    <span>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fwv-2" data-toggle="tab">
                                    New Password
                                    <span>2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fwv-3" data-toggle="tab">
                                    Retype New Password
                                    <span>3</span>
                                </a>
                            </li>
                        </ul>#}
                        <div class="progress-indicator">
                            <span></span>
                        </div>
                        <div class="tab-content no-margin">

                            <!-- Old Password -->
                            <div class="tab-pane with-bg active" id="old">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="old-pass">Old Password</label>
                                            <input type="password" class="form-control" name="old-password" id="old-pass" data-validate="required" placeholder="Your old password" />
                                            {#                                            <input type="text" id="status" value>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- New Password -->
                            <div class="{#tab-pane with-bg#}row" id="new" hidden>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="new">New Password</label>
                                            <input type="password" class="form-control" name="password" id="password-new" data-validate="required" placeholder="Enter your New Password" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="new">Retype New Password</label>
                                            <input type="password" class="form-control" name="password-conf" id="password-conf" data-validate="required" placeholder="Enter your New Password again" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- retype new Password -->
                            {#<div class="tab-pane with-bg row" id="new-conf" hidden>
                                <strong>New Password</strong>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="new">Retype New Password</label>
                                            <input class="form-control" name="password-conf" id="new" data-validate="required" placeholder="Enter your New Password again" />
                                        </div>
                                    </div>
                                </div>

                            </div>#}

                            <!-- Tabs Pager -->

                            <ul class="pager wizard">
                                {#<li class="previous">
                                    <a href="#"><i class="entypo-left-open"></i> Previous</a>
                                </li>#}

                                <input type="button" id="next" class="next" value="Next">
                                <input type="button" id="next-conf" class="next" value="Submit" hidden>
                                {#<li class="next" id="next-new">
                                    <a id='next' href="#">Next <i class="entypo-right-open"></i></a>
                                </li>
                                <li class="next" id="next-conf" hidden>
                                    <a id='next-con' href="#">Next <i class="entypo-right-open"></i></a>
                                </li>#}
                            </ul>

                        </div>
                        {#--------------submit----------#}
                        <div class="form-group" hidden id="submit">
                            <label for="field-5" class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <input type="submit" value="Change" class="form-control submit-edit" style="line-height: normal;">
                            </div>
                        </div>
                        {{ helper.form.close() }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{{ constant('STYLE_JS') }}/datepicker/bootstrap-datepicker.js"></script>
<script src="{{ constant('STYLE_JS') }}/jquery-validate/jquery.validate.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/formwizard/jquery.bootstrap.wizard.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/jquery-ui/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        $(".add-another-option-phone ").click(function () {
            $(".show-phone-option").append('<label class="control-label primary">' + 'Primary {{ lang.primary }}</label>' + '<input type="radio" class="primary" value="primary" name="primary_phone" style="position: relative;right: 90px;">' + '<input name="phone[]" id="phone" type="text" placeholder="add another phone" class="form-control">' + ' <span class="delete-option col-sm-1" style="position: relative; top:-27px;"><i class="fa fa-close"></i></span>' + '<div class="form-group-separator"></div>');
        });
        $(".add-another-option-address ").click(function () {
            $(".show-address-option").append('<label class="control-label primary">' + 'Primary {{ lang.primary }}</label>' + '<input type="radio" class="primary" value="primary" name="primary_address"  style="position: relative;right: 90px;">' + ' <input name="address[]" id="address" type="text" placeholder="add another address" class="form-control">' + ' <span class="delete-option col-sm-1" style="position: relative; top:-27px;"><i class="fa fa-close"></i></span>' + '<div class="form-group-separator"></div>');
        });
    });

    $('#edit-form').submit(function () {
        $.post('{{ helper.uri.url('clinic_user_profile/manage/')}}{{ item.user_id }}', $(this).serialize(), function (response) {
            obj = jQuery.parseJSON(response);
            fullname = $('#fullname').val();
            email = '<i class="fa fa-envelope"></i>' + $('#email').val();
//                password = $('#password').val();
            gender = '<i class="fa fa-user"></i>' + $('input[name=gender]:checked').val();
            birthdate = '<i class="fa fa-calendar"></i>' + $('#birthdate').val();
//                phone = $('#phone').val();

            address = '<i class="fa-home"></i>' + $("[add=add]").val();

            phone = '<i class="fa fa-phone"></i>' + $("[pho=pho]").val();
            if (obj.sucess == 1) {
                $('#personal_info').modal('hide');
                $('.user-name').text(fullname);
                $('.email').html(email);
//                    $('.password').html(password);
                $('.gender').html(gender);
                $('.birthdate').html(birthdate);
                $('.phone').html(phone);
                $('.address').html(address);
            }
        });
        return false;
    });
    $('#edit').submit(function () {
        $.post('{{ helper.uri.url('clinic_user_profile/manage/')}}{{ item.user_id }}', $(this).serialize(), function (response) {
            obj = jQuery.parseJSON(response);
            if (obj.sucess == 1) {
                $('#personal_info').modal('hide');
            }
        });
        return false;
    });
    $('.delete-phone').click(function () {
        user_phone_id = $(this).data('id');
        phone_id = '#phone-group' + user_phone_id;

        $.post('{{ helper.uri.url('clinic_user_profile/deletePhone/')}}' + user_phone_id,{#        user_phone_id : $('.delete-option').data('id'),#}
                function (response) {
                    if (response == 1) {
                        $(phone_id).hide();
                    }
                });
        return false;
    });
    $('.address-delete').click(function () {
        user_address_id = $(this).data('id');
        add_id = '#address-group' + user_address_id;
        $.post('{{ helper.uri.url('clinic_user_profile/deleteAddress/')}}' + user_address_id,
                function (response) {
                    if (response == 1) {
                        $(add_id).hide();
                    }
                });
        return false;
    });
    $('#next').click(function () {
        var old_pass = $('#old-pass').val();
    {#        alert(old_pass);#}
            $.post('{{ helper.uri.url('clinic_user_profile/check/')}}{{ item.user_id }}' + '/' + old_pass,
                    function (response) {
                        if (response == 1) {
                            $('#old').hide();
                            $('#new').show();
                            $('#next').hide();
                            $('#next-conf').show();
                        } else 
                            alert('Error Password');
                    });
            return false;
        });
        $('#next-conf').click(function () {
            var password_new = $('#password-new').val();
            var password_conf = $('#password-conf').val();
            if (password_new === password_conf) {
                $.post('{{ helper.uri.url('clinic_user_profile/changePassword/')}}{{ item.user_id }}' + '/' + password_new,
                        function (response) {
                            if (response == 1) {
                                $('#edit').hide();
                                $('#old').show();
                                $('#new').hide();
                                $('#next').show();
                                $('#next-conf').hide();
                            }
                        });
            }
            else
                alert('Tow Word Does Not Match');
            return false;
        });

//    if($.isFunction($.fn.datepicker)) {
//        $(".datepicker").each(function(i, el)
//        {
//            var $this = $(el),
//                    opts = {
//                        format: attrDefault($this, 'format', 'yyyy-mm-dd'),
//                        startDate: attrDefault($this, 'startDate', ''),
//                        endDate: attrDefault($this, 'endDate', ''),
//                        daysOfWeekDisabled: attrDefault($this, 'disabledDays', ''),
//                        startView: attrDefault($this, 'startView', 0),
//                        rtl: rtl()
//                    },
//                    $n = $this.next(),
//                    $p = $this.prev();
//
//            $this.datepicker(opts);
//
//            if($n.is('.input-group-addon') && $n.has('a'))
//            {
//                $n.on('click', function(ev)
//                {
//                    ev.preventDefault();
//
//                    $this.datepicker('show');
//                });
//            }
//
//            if($p.is('.input-group-addon') && $p.has('a'))
//            {
//                $p.on('click', function(ev)
//                {
//                    ev.preventDefault();
//
//                    $this.datepicker('show');
//                });
//            }
//        });
//    }
</script>

<style>
    a:hover {
        text-decoration: none;
    }
    .delete-option {
        position: relative;
        left: 411px;
        top: 48px;
        margin: 0px 0;
        display: block;
        cursor: pointer;
    }
    .delete-option:hover {
        color: #ffab00;
    }
    .fa-close {
        color: rgb(177, 177, 177);
    }
    .primary {
        position: relative;
        top: 42px;
        right: 118px;
    }
    label.primary {
        display:block;
        position: relative;
        right: 413px;
        top: 63px;
    }
</style>
