<div class="container">

    <div class="panel panel-default profile">
        <div class="panel-heading">

            <h2 class="panel-title" style="font-weight:bold">{{ lang.patient_details}} Profile and Reports </h2>

            <div class="panel-options">

            </div>

        </div>
        <div class="panel-body">

            <section class="profile-env col-sm-12">

                <div class="row">

                    <div class="col-sm-3">

                        <!-- User Info Sidebar -->
                        <div class="user-info-sidebar">
                            <a href="#" class="user-img">
                                <img src="{{ constant('STYLE_IMAGES') }}/m.jpg" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                            </a>

                        <span class="user-name">
                            {{item.fullname}}
                        </span>
                        </div>

                    </div>

                    <div class="col-sm-9">
                        <div class="tabs-vertical-env tabs-vertical-bordered"><!-- add class "right-aligned" for the right aligned tabs -->

                            <ul class="nav tabs-vertical">
                                <li class="active"><a href="#v4-profile" data-toggle="tab">{{lang.profile}}Personal Info</a></li>
                                <li class><a href="#v4-disease" data-toggle="tab">{{lang.diseases}}Diseases</a></li>
                                <li><a href="#v4-xrays" data-toggle="tab">{{lang.xrays}}Xrays</a></li>
                                <li><a href="#v4-notes" data-toggle="tab">{{lang.notes}}Notes</a></li>
                            </ul>

                            <div class="tab-content">
                                {#-------Personal Info-------#}

                                <div class="tab-pane active" id="v4-profile">
                                    <a href="#" data-toggle="modal" data-target="#personal_info" class="btn btn-warning  btn-icon btn-icon-standalone patient-edit-profile" style="color: #FFF; float:right;">
                                        <i class="fa fa-pencil-square-o"></i>
                                        <span>{{ lang.edit_user }}Edit</span>
                                    </a>
                                    <ul class="list-unstyled user-info-list">
                                        <li> <i class="fa-home"></i> {{ item.address }} </li>
                                        <li> <i class="fa fa-phone"></i> {{ phones.phone }} </li>
                                        <li> <i class="fa fa-envelope"></i> {{ item.email }} </li>
                                        <li> <i class="fa fa-lock"></i>
                                            <input type="password" value="{{ item.password }}"style="border: medium none; background-color: #fff;" disabled>
                                        </li>
                                        <li> <i class="fa fa-user"></i> {{ item.gender }} </li>
                                        <li> <i class="fa fa-calendar"></i> {{ item.birthdate }} </li>
                                    </ul>
                                </div>
                                {#-------Disease-------#}
                                <div class="tab-pane" id="v4-disease">
                                    <table class="table table-bordered table-striped data_diseases" >
                                        <thead>
                                        <tr>
                                            <th>{{ lang.disease }}Diseases</th>
                                            <th>{{ lang.note }}Notes</th>
                                        </tr>
                                        </thead>

                                        <tbody class="middle-align">

                                        {% for disease in diseases %}

                                            <tr class="disease_{{disease.clinic_patient_disease_id}}">
                                                <td>{{ disease.title }}</td>
                                                <td>{{ disease.note }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                {#-------X-Rays-------#}
                                <div class="tab-pane" id="v4-xrays">
                                    <table class="table table-bordered table-striped data_xrays" >
                                        <thead>
                                        <tr>
                                            <th>{{ lang.title }} Title</th>
                                            <th>{{ lang.description }} Description</th>
                                        </tr>
                                        </thead>

                                        <tbody class="middle-align">
                                        {% for xray in xrays %}

                                            <tr class="xray_{{xray.clinic_xray_negative_id}}">
                                                <td>{{ xray.title }} title</td>
                                                <td>{{ xray.description }} description</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>

                                {#-------Notes-------#}
                                <div class="tab-pane" id="v4-notes">
                                    <table class="table table-bordered table-striped data_note" >
                                        <thead>
                                        <tr>
                                            <th>{{ lang.note }}notes</th>
                                        </tr>
                                        </thead>

                                        <tbody class="middle-align">
                                        {% for note in notes %}
                                            <tr class="note_{{note.clinic_patient_note_id}}" >
                                                <td>{{ note.note }}</td>
                                                {#<td>#}
                                                    {#<a href="#" class="btn btn-secondary btn-sm show-notes" href="#" data-toggle="modal" data-target="#myModal3" rel="edit" data-id="{{ note.clinic_patient_note_id}}">{{lang.edit}}</a>#}
                                                    {#<a class="btn btn-danger btn-sm delete" href="{{ helper.uri.url('management/clinic_patients_notes/delete', note.clinic_patient_note_id) }}">{{ lang.delete }}</a>#}
                                                {#</td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>


    <div class="modal fade" id="personal_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    <h4 class="modal-title " id="myModalLabel">Personal Information</h4>
                </div>
                <div class="modal-body">
                    <div class="for-show-personal-info">
                        <form role="form" class="form-horizontal dashboard-forms">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="fullname">Fullname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control validate[required]" id="fullname" placeholder="{{ lang.fullname }}" name="fullname"
                                           value="{{ helper.form.value('fullname', item.fullname) }}">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"  for="gender">Gender</label>
                                <div class="col-sm-10">
                                    {#                                    {{ helper.form.dropdown('gender', menu, helper.form.value('gender', item.gender), 'class="form-control select2"') }}
                                    #}
                                    <input type="radio" name="gender"> Female <br>
                                    <input type="radio" name="gender"> Male <br>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>

                            <div class="form-group dashboard-birthdate">
                                <label class="col-sm-2 control-label" for="phone">Birthdate</label>
                                <div class="col-sm-10">
                                    {#<input type="text" class="form-control" id="datepicker" placeholder="birthdate" name="birthdate"#}
                                           {#value="{{ helper.form.value('birthdate', item.birthdate) }}">#}
                                    {#<i class="fa fa-calendar calendar-form"></i>#}

                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" id="datepicker" placeholder="birthdate" name="birthdate" data-format=" dd MM yyyy" value="{{ helper.form.value('birthdate', item.birthdate) }}">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group-separator"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="phone" id="address" type="text" placeholder="Phone">
                                </div>
                                <span class="add-another-option-phone col-sm-1"><i class="fa fa-plus-square"></i></span>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-md-9">
                                    <div class="show-phone-option"></div>
                                </div>

                            </div>
                            <div class="form-group-separator"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="address" id="address" type="text" placeholder="Address">
                                </div>
                                <span class="add-another-option-address col-sm-1"><i class="fa fa-plus-square"></i></span>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-md-9">
                                    <div class="show-address-option"></div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>

                            <div class="form-group">
                                <label for="field-5" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" value="Change" class="form-control">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ constant('STYLE_JS') }}/datepicker/bootstrap-datepicker.js"></script>

    <script>
//        $('.datepicker').datepicker({
//            format: 'mm/dd/yyyy',
//            startDate: '-3d'
//        });
        if($.isFunction($.fn.datepicker)) {
    $(".datepicker").each(function(i, el)
    {
        var $this = $(el),
                opts = {
                    format: attrDefault($this, 'format', 'mm/dd/yyyy'),
                    startDate: attrDefault($this, 'startDate', ''),
                    endDate: attrDefault($this, 'endDate', ''),
                    daysOfWeekDisabled: attrDefault($this, 'disabledDays', ''),
                    startView: attrDefault($this, 'startView', 0),
                    rtl: rtl()
                },
                $n = $this.next(),
                $p = $this.prev();

        $this.datepicker(opts);

        if($n.is('.input-group-addon') && $n.has('a'))
        {
            $n.on('click', function(ev)
            {
                ev.preventDefault();

                $this.datepicker('show');
            });
        }

        if($p.is('.input-group-addon') && $p.has('a'))
        {
            $p.on('click', function(ev)
            {
                ev.preventDefault();

                $this.datepicker('show');
            });
        }
    });
}
        $(document).ready(function () {
            $(".add-another-option-phone ").click(function () {
                $(".show-phone-option").append('<input name="address" id="address" type="text" placeholder="add another phone" class="form-control">');
            });
            $(".add-another-option-address ").click(function () {
                $(".show-address-option").append('<input name="address" id="address" type="text" placeholder="add another address" class="form-control">');
            });
        });
    </script>
