
<div class="panel panel-default" ng-app="myApp" ng-controller="customersCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.clinic_reservations }}</h3>
        <button class="btn btn-secondary" onclick="goBack()" style="float: right;">{{ lang.back }}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
    <div class="panel-body mar-items-bottom">
        {{ error }}
        <form id="search_form" name="search_form" mehtod="POST" ng-submit="draw()">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="clinic_schedule_id">{{ lang.doctor }}</label>
                <div class="col-sm-10">
                    {{ helper.form.dropdown('clinic_dcotor_id', doctors, helper.form.value('user_id', item.fullname), 'class="form-control select" name="user_id" id="user_id" ng-model="form.user_id" ') }} 
                </div>
            </div>
            {#<div class="form-group-separator"></div>#}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="date">{{ lang.date }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="date" name="date" type="text" class="form-control datepicker" id="date" placeholder="{{ lang.date }}" name="date" value="{{ helper.form.value('date', item.date) }}" data-format="yyyy-mm-dd" ng-model="form.date"> 
                        <div class="input-group-addon">
                            <i class="linecons-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="form-group-separator"></div>#}
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input type="submit" id="search" class="btn btn-secondary search-time" style="float: right;">
                </div>
            </div>
        </form>
        <div class="search-result" id="search-result">

                {#<div class="form-group-separator"></div>#}

                <div class="form-group">
                    <label class="col-sm-2 control-label time-hide" for="time">{{ lang.time }}</label>
                    <div class="col-sm-10">
                        {% verbatim %}
                            <!--<div class="col-sm-12"  ng-repeat="x in result">-->
                                <div class="col-sm-3"  ng-repeat="x in result">
                                    <div class="time-block not-available" ng-if="x.status == 'reserved'">
                                        <i class="fa fa-lock"></i> {{x.time}}
                                    </div>

                                    <div class="time-block not-available" ng-if="x.status == 'except'">
                                        <i class="fa fa-lock"></i> {{x.time}}
                                    </div>

                                    <div class="time-block available" data-time='{{x.time}}' id='search_click' ng-click='reserve($index)' data-toggle="modal" data-target="#myModal" ng-if="! x.status">
                                        <i class="fa fa-unlock available"></i> {{x.time}}
                                    </div>
                                </div>
                            {% endverbatim %}

                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10 time-hide">
                            <a href="{{ helper.uri.url('management/clinic_reservations/index') }}" class="btn btn-danger cancel-button">{{lang.cancel}}</a>
                            <button type="submit"class="btn btn-secondary" style="float: right;">{{lang.submit}}</button>
                        </div>
                    </div>
            </div>
    </div>
</div>
<div class="modal fade reservation-schedule-details" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title " id="myModalLabel">{{lang.reservation_details}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="clinic_patient_id">{{ lang.clinic_patient_id }}</label>
                        <div class="col-sm-10">
                            {{ helper.form.dropdown('clinic_patient_id', patient, helper.form.value('clinic_patient_id', item.clinic_patient_id), 'class="form-control select" id="patient_id" ng-model="patient_id"') }} 
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="clinic_reservation_status_id">{{ lang.clinic_reservation_status_id }}</label>
                        <div class="col-sm-10">
                            {{ helper.form.dropdown('clinic_reservation_status', clinic_reservation_status, helper.form.value('clinic_reservation_status', item.clinic_reservation_status), 'id="status" ng-model="status" class="form-control select" ') }}
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="clinic_doctor_reservation_types">{#{{ lang.clinic_doctor_reservation_id }}#}Type</label>
                        <div class="col-sm-10">
                            {{ helper.form.dropdown('reservation_type_id', reservation_type, helper.form.value('reservation_type', item.title), 'id="type" ng-model="type" class="form-control select" ') }}
                        </div>
                    </div>
                    <input type='hidden' value name='doctor_id' ng-model="clinic_doctor_id" id='doctor_id'>
                    <input type='hidden' value name='time_re' id='time_re'>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="button" id='save_reserve' class="btn btn-secondary" value='{{lang.submit}}' style="float: right;">
                            {#<a href="{{ helper.uri.url('management/users/manage') }}" class="btn btn-warning" style="color: #FFF;">#}
                                {#Add New User#}
                            {#</a>#}
                            <a href="{{ helper.uri.url('management/users/manage') }}" class="btn btn-warning btn-icon btn-icon-standalone col-sm-5 add-patient-option">
                                <i class="fa fa-user"></i>
                                <span>{{ lang.add_new_user }}Add a new User</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.system_msg}}</h4>
            </div>
            <div class="modal-body">
                <p style="color: #393F3F;">Sorry The Doctor <span>{{ item.fullname }}</span> Has No Schedule This Day !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">close{{ lang.close }}</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ constant('STYLE_JS') }}/select2/select2.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/timepicker/bootstrap-timepicker.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function ($scope, $http) {
$scope.draw = function () {
$http({
    url: "{{helper.uri.url('management/clinic_reservations/getdoctorTypes')}}",
    method: "get",
    params: {user_id: $scope.form.user_id}
}).then(function (response) {
    $scope.result = response.data.reservation_type;
    if ($scope.result == 0)
    {
        console.log($scope.result);
//            alert('sorry the doctoce has no schedule this day .');
        $('#message').modal('show');
        $('.time-hide').hide();
    }
    else if ($scope.result == 1)
    {
        console.log($scope.result);
        $('#search-result').show();
    }
});
$http({
    url: "{{helper.uri.url('management/clinic_reservations/getSearch')}}",
    method: "get",
    params: {date: $scope.form.date, user_id: $scope.form.user_id}
}).then(function (response) {
    $scope.result = response.data.result;
    if ($scope.result == 0)
    {
{#                                                            console.log($scope.result);#}
//            alert('sorry the doctoce has no schedule this day .');
        $('.time-hide').hide();
        $('#message').modal('show');
    }
    else
        $('#search-result').show();
});
};
$scope.reserve = function (idx) {
$http({
    url: "{{helper.uri.url('management/clinic_reservations/manage/save')}}",
    method: "get",
    params: {time: $scope.result[idx].time, date: $scope.result[idx].date, patient_id: $scope.patient_id, status: $scope.status, type: $scope.type}
}).then(function (response) {
    $scope.result = response.data.result;
    console.log($scope.result);
    $('#search-result').show();
});
};
});
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($)
    {
        $(document).on("click", ".available", function () {
            var time = $(this).data('time');
            $("#time_re").attr('value', time);
        });
        $('#user_id').change(function () {
            var user_id = $('#user_id').val();
            $("#doctor_id").attr('value', user_id);
            $.ajax({
                url: "{{helper.uri.url('management/clinic_reservations/manage')}}",
                method: "post",
                params: {doctor_id: user_id}
            });
            $('#save_reserve').click(function (status) {
                var patient_id = $('#patient_id').val();
                var doctor_id = $('#doctor_id').val();
                var status = $('#status').val();
                var time = $('#time_re').val();
                var date = $('#date').val();
                $.ajax({
                    url: "{{helper.uri.url('management/clinic_reservations/save')}}",
                    method: "post",
                    data: {doctor_id: doctor_id, patient_id: patient_id, status: status, date: date, time: time{#, type: type#}}
                });
                $('#myModal').modal('hide');
                return false;
            });
//                $('#save_reserve').click(function(){
//                    $('#myModal').modal('hide');
//                });

        });
        $(".select").select2({
            placeholder: '{{lang.select_specifications}} ',
            allowClear: true
        }).on('select2-open', function ()
        {
            // Adding Custom Scrollbar
            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
        });
    });
</script>
<style>
    .search-result{
        display: none;
    }
    .reservation-schedule-details {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #f5f5f5;
        padding: 30px;
        float: left;
        width: 100%;
    }
    .reservation-schedule-details .modal-content {
        padding: 20px 0;
        float: left;
        width: 100%;
    }
    .reservation-schedule-details .form-group {
        margin-bottom: 15px;
        float: left;
        width: 100%;
    }
    .time-block{
        cursor: pointer;
        margin: 10px;
        font-size: 13px;
        color:#555;
        background-color: #dedede;
        line-height: 30px;
        padding: 0 10px;
    }
    .not-available{
        color:silver;
        background-color: #f1f1f1;
    }
    .mar-items-bottom div {
        margin-bottom: 10px;
    }

</style>
