<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.clinic_reservations }}</h3>
    </div>
    <div class="panel-body">
        {#{{ helper.form.open(null,false,true,'role="form" class="form-horizontal"') }}#}
        {{ error }}
        <form id="search_form" name="search_form" mehtod="POST">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="clinic_schedule_id">{{ lang.doctor }}</label>
                <div class="col-sm-10">
                    {{ helper.form.dropdown('clinic_dcotor_id', doctors, helper.form.value('user_id', item.fullname), 'class="form-control select" name="user_id" id="user_id" ') }} 
                </div>
            </div>
            <div class="form-group-separator"></div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="date">{{ lang.date }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="date" name="date" type="text" class="form-control datepicker" id="date" placeholder="{{ lang.date }}" name="date" value="{{ helper.form.value('date', item.date) }}" data-format="yyyy-mm-dd"> 
                        <div class="input-group-addon">
                            <i class="linecons-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-separator"></div> 

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <input type="submit" id="search" class="btn btn-secondary search-time" style="float: right;">
                </div>
            </div>
            {#        </form>#}
            {{ helper.form.close() }}
            <div class="search-result" id="search-result">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="time">{{ lang.time }}</label>
                    <div class="col-sm-10">
                        <div class="col-sm-3" data-toggle="modal" data-target="#myModal">
                            {#<div class="col-sm-3">
                                <div class="time-block not-available">
                                    <i class="fa fa-unlock"></i> 8:15
                                </div>
                            </div>#}
                            {#                        {{ debug.print_r(final) }}#}
                            {#{%for item in final %}
                                <div class="time-block">
                                    
                                    {%if item.status == 'except'%}
                                        <i class="fa fa-lock not-available"></i> {{item}}
                                    {% elseif item.status == 'reseved' %}
                                        <i class="fa fa-lock not-available"></i> {{item}}
                                    {% elseif not item.status %}
                                        <i class="fa fa-unlock available"></i> {{item}}
                                    {%endif%}
                                </div>
                            {%endfor%}#}
                            <div class="time-block">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group-separator"></div> 

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <a href="{{ helper.uri.url('management/clinic_reservations/index') }}" class="btn btn-danger cancel-button">{{lang.cancel}}</a>
                        <button type="submit" class="btn btn-secondary" style="float: right;">{{lang.submit}}</button>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="modal fade reservation-schedule-details" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel">{{lang.reservation_details}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="clinic_patient_id">{{ lang.clinic_patient_id }}</label>
                    <div class="col-sm-10">
                        {{ helper.form.dropdown('clinic_patient_id', patient, helper.form.value('clinic_patient_id', item.clinic_patient_id), 'class="form-control select" ') }} 
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="clinic_reservation_status_id">{{ lang.clinic_reservation_status_id }}</label>
                    <div class="col-sm-10">
                        {{ helper.form.dropdown('clinic_reservation_status', clinic_reservation_status, helper.form.value('clinic_reservation_status', item.clinic_reservation_status), 'class="form-control select" ') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-secondary" style="float: right;">{{lang.submit}}</button>
                        <a href="{{ helper.uri.url('management/users/manage') }}" class="btn btn-warning" style="color: #FFF;">
                            Add New User
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
<script src="{{ constant('STYLE_JS') }}/select2/select2.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/timepicker/bootstrap-timepicker.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/mustache.min.js"></script>
{#{% verbatim %}
    <script id="search_result" type="x-tmpl-mustache">
        {{#result}}
        if(result.status == 'except')
        <i class="fa fa-lock not-available"></i> {{result}}
        else if(result.status == 'reserved')
        <i class="fa fa-lock not-available"></i> {{result}}
        else if(!result.status)
        <i class="fa fa-unlock available"></i> {{result}}
        {{/result}}
    </script>
{% endverbatim %}#}

<script type="text/javascript">
    jQuery(document).ready(function ($)
    {
        $('#search').click(function (e) {
    {#e.preventDefault();
    $.ajax({
        type: "post",
        url: "{{helper.uri.url('management/clinic_reservations/getSearch')}}",
        data: $('#search_form').serialize(),
        contentType: "application/x-www-form-urlencoded",
        success: function (responseData) {
            alert(responseData)
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
        $("#search-result").show();
    })#}
                e.preventDefault();
                $("#search-result").show();
                $.getJSON("{{helper.uri.url('management/clinic_reservations/getSearch')}}", function (data) {
    {#                    alert('click');#}
    {#                    var items = [];#}
    {#var acc = [];
    $.each(data, function (index, value) {
        acc.push(index + ': ' + value);
    });
    alert(JSON.stringify(acc));#}
                    var list = data;
{#                    alert('POST = ' . list);#}
                    for (var i = 0 ; i < list.length; i++) {
                        var obj = data.status;
                        alert(obj);
    {#                                        $("<li />", {text: obj.i + ": " + obj.id}).appendTo(list);#}
                    }
                    ;
    {#                                    );#}

    {#$.each(data, function (key, val) {
        alert(data);
        items.push("<li id='" + key + "'>" + val[key] + "</li>");
    });#}
    {#var status = data.result[0].status;
    var name = data.result[1].status;
    alert(status);
    alert(name);#}
    {#for (var data = result.length; i--; ) {
        var status = data[i].status;
        alert(status);
        // address.city
        // address.street
        // etc
    }#}

                    {#$("<ul/>", {
                        "class": "my-new-list",
                        html: acc.join("")
                    }).appendTo(".time-block");#}
                });

            });


            $(".select").select2({
                placeholder: '{{lang.select_specifications}} ',
                allowClear: true
            }).on('select2-open', function ()
            {
                // Adding Custom Scrollbar
                $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
            });
    {#$('#search').click(function () {
        $.post("{{helper.uri.url('management/clinic_reservations/getSearch')}}", $('#search_form').serialize(), function (status) {
            $("#search-result").show();
            loadSearch(status);
        });
        return false;
    });#}
        });
</script>
{#<script>
    function loadSearch(searchResult) {
        var searchResult = $('#search_result').html();
        var rendered = Mustache.render(searchResult);
        $('.time-block').html(rendered);
    }
    ;
</script>#}
<style>
    .search-result{
        display: none;
    }
    .reservation-schedule-details {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #f5f5f5;
        padding: 30px;
        float: left;
        width: 100%;
    }
    .reservation-schedule-details .modal-content {
        padding: 20px 0;
        float: left;
        width: 100%;
    }
    .reservation-schedule-details .form-group {
        margin-bottom: 15px;
        float: left;
        width: 100%;
    }
    .time-block{
        cursor: pointer;
        margin: 10px;
        font-size: 13px;
        color:#555;
        background-color: #dedede;
        line-height: 30px;
        padding: 0 10px;
    }
    .not-available{
        color:silver;
        background-color: #f1f1f1;
    }

</style>