<!-- home-section 
        ================================================== -->
<section id="home-section" class="slider1">

    <!--
    #################################
            - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul><!-- SLIDE  -->
                {% for item in slides %}  
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
                        <!-- MAIN IMAGE -->
                        <img src="{{helper.uri.cdn('sliders', item.image)}}"  alt="slidebg1" data-lazyload="{{helper.uri.cdn('sliders', item.image )}}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
                             data-x="0"
                             data-y="280" 
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;  right: 104.5px; "><br><span>{{item.title}}</span> <br>
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
                             data-x="0"
                             data-y="400" 
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.05"
                             data-endelementdelay="0.1"
                             style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap; right: 104.5px;">{{item.caption}}
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption lfl tp-resizeme rs-parallaxlevel-0"
                             data-x="0"
                             data-y="510" 
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-linktoslide="next"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; right: 104.5px;"><a href="{{item.url}}" class='trans-btn'>{{lang.link}}</a>
                        </div>

                        <!-- LAYER NR. 4 -->
                        {#<div class="tp-caption lfr tp-resizeme rs-parallaxlevel-0"
                             data-x="200"
                             data-y="510" 
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-linktoslide="next"
                             style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap; right: 304.5px;"><a href='#' class='trans-btn2'>{{lang.link}}</a>
                        </div>#}
                    </li> 
                {% endfor %}
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<!-- End home section -->

<!-- banner-section 
        ================================================== -->
<section class="banner-section">
    <div class="container">
        <h2>{{lang.all_you_need_here}} <a href="{{ helper.uri.url('contactus') }}" class="button-one">{{lang.click_here}}</a></h2>
    </div>
</section>
<!-- End banner section -->

<!-- news-section 
        ================================================== -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='text-center'>
                    <h2 class="title"><span>{{lang.latest_blog_posts}}</span></h2>
                </div>
            </div>
        </div>
        <div class="news-section">
            <div class="news-box">
                <div class="row">
                    {% for post in post %} 
                        <div class="col-md-3 col-sm-6">
                            <div class="news-post"> 
                                <div class="post-new-img">
                                    <img src="{{helper.uri.cdn('blog', post.image )}}" alt="">
                                </div>
                                <h2><a href="{{ helper.uri.url('blog/post', post.seo) }}">{{post.title}}</a></h2>
                                <span>{{ post.created|date("d F Y")}}</span></br>
                                {{post.short_content}}</br>
                                <a href="{{ helper.uri.url('blog/post', post.seo) }}">{{lang.continue_reading}}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</section>
<!-- Portfolio page start -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='text-center'>
                    <h2 class="title"><span>{{lang.lastest_projects}}</span></h2>
                </div>
            </div>
        </div>
        {# <div class="row text-center">
             <div class="col-md-12"  id="isotope-filter">
                 <a data-filter="*" href="#" class="active">Show All</a>/ 
                 {% for cat in portfolio_category %}
                     <a class="" href="#" data-filter=".cat_{{ cat.portfolio_category_id }}">{{cat.title}}</a>/ 
                 {% endfor %}
             </div>
         </div><!--Portfolio filter end -->
 #}
        <div class='row wow fadeInUp'>
            <div class='col-lg-12'>
                <div class="carousel slide" id="portfolio-carousel">
                    <div class="carousel-inner">
                        <div class="item  active">
                            <div class="row">
                                {% for item in recent_portfolio %} 
                                    <div class="col-xs-6 col-sm-3 col-md-3">   
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
                                                    <span>
                                                        <a data-rel="prettyPhoto" href="{{helper.uri.cdn('portfolio', item.image )}}">
                                                            <i class="fa fa-search"></i>              
                                                        </a>
                                                        <a href="{{ helper.uri.url('portfolio/portfolio_item', item.seo) }}" class=""><i class="fa fa-link"></i></a>
                                                    </span>
                                                    <h3>{{item.title}}</h3>
                                                    <p>{{item.description}}</p>
                                                </div>
                                            </div>
                                            <img src="{{helper.uri.cdn('portfolio', item.image )}}" alt="portfolio">
                                        </div>
                                    </div> 
                                {% endfor %}

                            </div>
                        </div><!--/ Item active end -->
                        <div class="item">
                            <div class="row">
                                {% for item in recent_portfolio_ %}
                                    <div class="col-xs-6 col-sm-3 col-md-3">   
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
                                                    <span>
                                                        <a data-rel="prettyPhoto" href="{{helper.uri.cdn('portfolio', item.image )}}">
                                                            <i class="fa fa-search"></i>              
                                                        </a>
                                                        <a href="{{ helper.uri.url('portfolio/portfolio_item', item.seo) }}" class=""><i class="fa fa-link"></i></a>
                                                    </span>
                                                    <h3>{{item.title}}</h3>
                                                    <p>{{item.description}}</p>
                                                </div>
                                            </div>
                                            <img src="{{helper.uri.cdn('portfolio', item.image )}}" alt="portfolio">
                                        </div>
                                    </div>          
                                {% endfor %}
                            </div>
                        </div><!--/ Item end -->
                    </div><!-- Carousel inner end -->

                    <div class="dart-carousel-controller">
                        <a data-slide="next" href="#portfolio-carousel" class="right"><i class="fa fa-chevron-right"></i></a>

                        <a data-slide="prev" href="#portfolio-carousel" class="left"><i class="fa fa-chevron-left"></i></a>
                    </div><!-- Controller end -->

                </div><!-- Carousel end -->                          
            </div><!-- Main Col end -->
        </div><!--/ Main row end -->
        <!-- Isotope row start --> 
        {# <div class="row">
             <div id="isotope" class="isotope portfolio-page-items">
                 {% for item in recent_portfolio %} 
                     <div class="col-sm-3 cat_{{ item.portfolio_category_id }}">
                         <div class="portfolio-overlay">
                             <div class="portfolio-overlay-btn">
                                 <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                             </div>
                         </div>
                         <div class="image-thumb">
                             <img src="{{helper.uri.cdn('portfolio', item.image )}}" alt="">
                         </div>
                     </div><!-- col-sm-3 end -->
                 {% endfor %}
             </div><!-- Isotope end -->
         </div>#}<!-- Isotope row start -->
    </div><!-- Portfolio page container end -->
</section>
<!-- Portfolio page end -->
<!-- End news section -->
<section id="testimonial" class="wow fadeInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='text-center'>
                    <h2 class="title"><span>{{lang.customer_feedback}}</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
                {% for testimonial in testimonial %} 

                    <div class="item">

                        <div class="testimonial-thumb">
                            <img class="img-circle" src="{{helper.uri.cdn('testimonials', testimonial.image )}}" alt="testimonial">
                        </div>
                        <div class="testimonial-content">
                            <h3 class="name">{{testimonial.client_name}} <span>{{testimonial.client_position}}</span></h3>
                            <p class="testimonial-text">
                                {{testimonial.message}}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Navigation start -->
            <div class="customNavigation dart-carousel-controller">
                <a class="prev left">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="next right">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div><!--/ Navigation end -->
        </div><!--/ Main row end-->
    </div><!--/ Main container end-->
</section><!-- Testimonial end-->
<!-- Clients start -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='text-center'>
                    <h2 class="title"><span>{{lang.clients}}</span></h2>
                </div>
            </div>
        </div>
        <div class="row wow fadeInLeft">
            <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">

                {% for item in client %} 
                    <figure class="item client_logo">
                        <a href="#">
                            <img src="{{helper.uri.cdn('clients', item.image )}}" alt="{{item.name}}">
                        </a>
                    </figure>
                {% endfor %}
            </div><!-- Owl carousel end -->
        </div><!-- Main row end -->
    </div><!-- Main container end -->
</section><!-- Clients end -->


<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/owl.carousel.js"></script>
<!-- PrettyPhoto -->
<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/jquery.prettyPhoto.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/jquery.isotope.min.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/wow.min.js"></script>
<!-- SmoothScroll -->
<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/smoothscroll.js"></script>
<!-- Animated Pie -->
<script type="text/javascript" src="{{ constant("STYLE_JS") }}/new_js/jquery.easy-pie-chart.js"></script>

<script type="text/javascript">
    $('#portfolio-slider').bxSlider({
        mode: 'fade',
        autoControls: false
    });
    // portfolio filter
    new WOW().init();
    $(window).load(function () {

        var $isotope_selectors = $('#isotope-filter>a');

        if ($isotope_selectors != 'undefined') {
            var $portfolio = $('.isotope');
            $portfolio.isotope({
                itemSelector: '.col-sm-3',
                layoutMode: 'fitRows'
            });

            $isotope_selectors.on('click', function () {
                $isotope_selectors.removeClass('active');
                $(this).addClass('active');
                var selector = $(this).attr('data-filter');
                $portfolio.isotope({filter: selector});
                return false;
            });
        }
    });
    $("#client-carousel").owlCarousel({
        navigation: true, // Show next and prev buttons
        navigationText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
        slideSpeed: 800,
        pagination: false,
        items: 5,
        rewindNav: true,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3],
        stopOnHover: true

    });

    $("#testimonial-carousel").owlCarousel({
        navigation: true, // Show next and prev buttons
        slideSpeed: 600,
        pagination: false,
        singleItem: true

    });
    var owl = $("#testimonial-carousel");
    $("a[data-rel^='prettyPhoto']").prettyPhoto();

    // Custom Navigation Events
    $(".next").click(function () {
        owl.trigger('owl.next');
    })
    $(".prev").click(function () {
        owl.trigger('owl.prev');
    })
    $(".play").click(function () {
        owl.trigger('owl.play', 1000); //owl.play event accept autoPlay speed as second parameter
    })
    $(".stop").click(function () {
        owl.trigger('owl.stop');
    })
    jQuery(document).ready(function () {

        jQuery('.tp-banner').show().revolution(
                {
                    dottedOverlay: "none",
                    delay: 10000,
                    startwidth: 1140,
                    startheight: 700,
                    hideThumbs: 200,
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "bullet",
                    navigationArrows: "none",
                    touchenabled: "on",
                    onHoverStop: "off",
                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,
                    parallax: "mouse",
                    parallaxBgFreeze: "on",
                    parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                    keyboardNavigation: "off",
                    navigationHAlign: "center",
                    navigationVAlign: "bottom",
                    navigationHOffset: 0,
                    navigationVOffset: 40,
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    forceFullWidth: "off",
                    hideThumbsOnMobile: "off",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "off",
                    hideArrowsOnMobile: "off",
                    hideThumbsUnderResolution: 0,
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    fullScreenOffsetContainer: ".header"
                });

    });	//ready


</script>