<!-- projects-page section 
                  ================================================== -->
<section class="main-section-page news-section">
    <div class="container">
        <div class="news-title">
            <h2>Our Portfolio</h2>
        </div>
        <div class="news-box">
            <div class="row">
                {% for item in portfolio %} 
                    <div class="col-md-3 col-sm-6">
                        <div class="news-post"> 
                            <img src="{{helper.uri.cdn('portfolio', item.image )}}" alt="">
                            <h2><a href="{{ helper.uri.url('portfolio/portfolio_item', item.seo) }}">{{item.title}}</a></h2>
                            {{item.description}}</br>
                            <a href="{{ helper.uri.url('portfolio/portfolio_item', item.seo) }}">Continue Reading...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End projects-page section -->
<style>
    section.projects-page-section {
        margin-top: 120px;
    }
    .project-post > a {
        display: block;
        height: 200px;
        overflow: hidden;
    }
</style>

