<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.doctor_schedule }}</h3>
        <a href="{{ helper.uri.url('management/clinic_doctors/exceptions') }}" class="btn btn-danger btn-icon btn-icon-standalone btn-xs exceptions"
                style=" float: right;">
            <i class="fa-pencil"></i>
            <span>Exceptions</span>
        </a>
    </div>
    <div class="panel-body">
        {{ helper.form.open(null,false,true,'role="form" class="form-horizontal"') }}
        {{ error }}

        <!--Saturday[0]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Saturday</span>
                <input type="checkbox" name="day[0]" {% if item.Saturday.status == 'on' or not item.Saturday.status%} checked {% endif %} value="1" class="iswitch iswitch-secondary"></label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[0]" value="{{ item.Saturday.from_time }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[0]" value="{{ item.Saturday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[0]" value="{{item.saturday.to_time}}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Sunday[1]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Sunday</span>
                <input type="checkbox" name="day[1]" {% if item.Sunday.status == 'on' or not item.Sunday.status%} checked {% endif %}value="1" class="iswitch iswitch-secondary">
            </label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[1]" value="{{ helper.form.value('from_time', item.Sunday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[1]" value="{{ item.Sunday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[1]" value="{{ helper.form.value('to_time', item.Sunday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Monday[2]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Monday</span>
                <input type="checkbox" name="day[2]" {% if item.Monday.status == 'on' or not item.Monday.status%} checked {% endif %} value="1" class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[2]" value="{{ helper.form.value('from_time', item.Monday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[2]" value="{{ item.Monday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[2]" value="{{ helper.form.value('to_time', item.Monday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Tuesday[3]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Tuesday</span>
                <input type="checkbox" name="day[3]" {% if item.Tuesday.status == 'on' or not item.Tuesday.status%} checked {% endif %} value="1" class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[3]" value="{{ helper.form.value('from_time', item.Tuesday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[3]" value="{{ item.Tuesday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[3]" value="{{ helper.form.value('to_time', item.Tuesday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Wednesday[4]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Wednesday</span>
                <input type="checkbox" name="day[4]" {% if item.Wednesday.status == 'on' or not item.Wednesday.status%} checked {% endif %} value="1"  class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[4]" value="{{ helper.form.value('from_time', item.Wednesday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[4]" value="{{ item.Wednesday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[4]" value="{{ helper.form.value('to_time', item.Wednesday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Thursday[5]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Thursday</span>
                <input type="checkbox" name="day[5]" {% if item.Thursday.status == 'on' or not item.Thursday.status%} checked {% endif %} value="1" class="iswitch iswitch-secondary">
            </label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[5]" value="{{ helper.form.value('from_time', item.Thursday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[5]" value="{{ item.Thursday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[5]" value="{{ helper.form.value('to_time', item.Thursday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Friday[6]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Friday</span>
                <input type="checkbox" name="day[6]" {% if item.Friday.status == 'on' or not item.Friday.status%} checked {% endif %} value="1" class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[6]" value="{{ helper.form.value('from_time', item.Friday.from_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <input type="hidden" id="clinic_schedule_id" name="clinic_schedule_id[6]" value="{{ item.Friday.clinic_schedule_id }}" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[6]" value="{{ helper.form.value('to_time', item.Friday.to_time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Buttons-->
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <a href="{{ helper.uri.url('management/clinic_doctors/index') }}"
                   class="btn btn-danger cancel-button">{{ lang.cancel }}</a>
                <button type="submit" class="btn btn-secondary" style="float: right;">{{ lang.submit }}</button>
            </div>
        </div>
        {{ helper.form.close() }}

        <!--Exceptions Modal--->

        {#<div class="modal fade modal fade custom-width in" id="exceptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
            {#<div class="modal-dialog" style="width: 60%;">#}

            {#</div>#}
        {#</div>#}
    </div>
</div>

<script src="{{ constant('STYLE_JS') }}/select2/select2.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/knob/jquery.knob.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/timepicker/bootstrap-timepicker.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/datepicker/bootstrap-datepicker.js"></script>

<script id="exp" type="text/template">
    <div class="row manage-schedule-exception exception-{{ item.clinic_schedule_exception_id }}" >
        <div class="col-sm-4 schedule-input-calender">
            <div class="input-group">
                <input type="text" name="exc_date" class="form-control datepicker" data-format="D, dd MM yyyy">

                <div class="input-group-addon">
                    <a href="#"><i class="linecons-calendar"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-4" style="padding:0;">
                From:
            </div>
            <div class="col-sm-8" style="padding:0;">
                <div class="input-group input-group-minimal">
                    <input type="text" name ="exc_from" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                    <div class="input-group-addon">
                        <i class="linecons-clock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-4" style="padding:0;">
                To:
            </div>
            <div class="col-sm-8" style="padding:0;">
                <div class="input-group input-group-minimal">
                    <input type="text" name="exc_to" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                    <div class="input-group-addon">
                        <i class="linecons-clock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="width:auto;">
            <a class="delete" href="{{ helper.uri.url('management/clinic_doctors/delete', item.clinic_schedule_exception_id) }}">
                <button type="button" class="close" data-dismiss="row" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </a>
        </div>
    </div>
</script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".select").select2({
            placeholder: 'Select Specification...',
            allowClear: true
        }).on('select2-open', function () {
            // Adding Custom Scrollbar
            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
        });

    });

    add_new_exception = function () {
            $('.main-manage-schedule-exception').append($('#exp').html());
            if($.isFunction($.fn.timepicker)) {
                $(".timepicker").each(function(i, el)
                {
                    var $this = $(el),
                            opts = {
                                template: attrDefault($this, 'template', false),
                                showSeconds: attrDefault($this, 'showSeconds', false),
                                defaultTime: attrDefault($this, 'defaultTime', 'current'),
                                showMeridian: attrDefault($this, 'showMeridian', true),
                                minuteStep: attrDefault($this, 'minuteStep', 15),
                                secondStep: attrDefault($this, 'secondStep', 15)
                            },
                            $n = $this.next(),
                            $p = $this.prev();

                    $this.timepicker(opts);

                    if($n.is('.input-group-addon') && $n.has('a'))
                    {
                        $n.on('click', function(ev)
                        {
                            ev.preventDefault();

                            $this.timepicker('showWidget');
                        });
                    }

                    if($p.is('.input-group-addon') && $p.has('a'))
                    {
                        $p.on('click', function(ev)
                        {
                            ev.preventDefault();

                            $this.timepicker('showWidget');
                        });
                    }
                });
            }

            if($.isFunction($.fn.datepicker)) {
                $(".datepicker").each(function(i, el)
                {
                    var $this = $(el),
                            opts = {
                                format: attrDefault($this, 'format', 'mm/dd/yyyy'),
                                startDate: attrDefault($this, 'startDate', ''),
                                endDate: attrDefault($this, 'endDate', ''),
                                daysOfWeekDisabled: attrDefault($this, 'disabledDays', ''),
                                startView: attrDefault($this, 'startView', 0),
                                rtl: rtl()
                            },
                            $n = $this.next(),
                            $p = $this.prev();

                    $this.datepicker(opts);

                    if($n.is('.input-group-addon') && $n.has('a'))
                    {
                        $n.on('click', function(ev)
                        {
                            ev.preventDefault();

                            $this.datepicker('show');
                        });
                    }

                    if($p.is('.input-group-addon') && $p.has('a'))
                    {
                        $p.on('click', function(ev)
                        {
                            ev.preventDefault();

                            $this.datepicker('show');
                        });
                    }
                });
            }

            return false;
        };

</script>

<style>
    .schedule-input-calender input{
        width: 100%;
        border: 1px solid #dedede;
        position: relative;
        padding: 0 20px 0 5px;
        line-height: 30px;
    }
    .schedule-input-calender i {
        position: absolute;
        right: 16px;
        top: 1px;
        background: #dedede;
        padding: 6px;
    }
    .manage-schedule-exception{
        border-bottom: 1px solid #dedede;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .manage-schedule-exception select {
        width: 80%;
        border: 1px solid #dedede;
        height: 30px;
    }
    .modal-footer{
        border: none;
    }
    .doctoe-list-schedule select{
        width: 80%;
        border: 1px solid #dedede;
        height: 30px;
    }
</style>