<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.clinic_doctors }}</h3>

        <div class="panel-options">
            <a href="#"  data-toggle="modal" data-target="#addmodel"  class="btn btn-secondary" style="color: #FFF;">
                {{ lang.add }}
            </a>
        </div>
        <br>


        <div class="modal fade" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                        <h4 class="modal-title " id="myModalLabel">{{lang.add_doctor}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>To add a new Patient You must select one of this options</p>

                        <div class="form-group">
                            <a href="{{ helper.uri.url('management/users/manage?url=management/clinic_doctors/manage/?user_id=') }}" class="btn btn-secondary btn-icon btn-icon-standalone col-sm-5 add-patient-option"> 
                                <i class="fa fa-user"></i>
                                <span>Add a new User</span>
                            </a>
                            <span class="col-sm-2 add-patient-option-span">OR</span>
                            <a href="{{ helper.uri.url('management/clinic_doctors/manage') }}" class="btn btn-warning  btn-icon btn-icon-standalone col-sm-5 add-patient-option"> 
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Existing User</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>

    <div id="search_form">

        <form role="form" class="form-horizontal" method="get">
            <div class="form-group">
                <div class="col-sm-2">{{ lang.search_by_doctor }}</div>

                <div class="col-sm-4">
                    {{ helper.form.dropdown('specification_id',specification, helper.form.value('specification_id'), 'class="form-control select2"') }}
                </div>

                <div class="col-sm-4" style="position: relative;">
                    {#<input type="text" name="doctor_name" value="{{ input.get.doctor_name }}" class="form-control"#}
                           {#placeholder="{{ lang.doctor_name }}">#}
                    {{ helper.form.dropdown('doctor_id', users , helper.form.value('doctor_id', items), 'class="form-control select2 doctors "') }}
               </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-secondary btn-for-search" style="right:15px; top:0; position: absolute;"><i class="linecons-search"></i></button>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th>{{ lang.doctor_name }}</th>
                    <th>{{ lang.specification}}</th>
                    <th>{{ lang.operations }}</th>

                </tr>
            </thead>
            <tbody class="middle-align">

                {% for item in items %}
                    <tr>
                        <td>{{ item.fullname }}</td>
                        <td>{{ item.specification}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{{ helper.uri.url('management/clinic_doctors/manage', item.clinic_doctor_id ) }}">{{ lang.edit }}</a>
                            <a href="#" class="btn btn-danger btn-sm delete_msg" data-url_id="{{ helper.uri.url('management/clinic_doctors/delete', item.clinic_doctor_id ) }}" data-toggle="modal" data-target="#deleteMsg" style="color:#fff;">{{lang.delete}}</a>
                            <a class="btn btn-icon btn-warning" href="{{ helper.uri.url('management/clinic_doctors/doctor_schedule',item.clinic_doctor_id ) }}">{{ lang.schedule }}</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{  pagination}}

    </div>
</div>
<div class="modal fade" id="deleteMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.system_msg}}</h4>
            </div>
            <div class="modal-body">
                <a>{{lang.delete_item}}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{ lang.no }}</button>
                <a id="delete_id" class="btn btn-danger" href="url">{{lang.delete}}</a>
            </div>
        </div>
    </div>
</div>
