<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ lang.doctor_schedule }}</h3>
        <button class="btn btn-danger btn-icon btn-icon-standalone btn-xs" data-toggle="modal" data-target="#exceptions"
                style=" float: right;">
            <i class="fa-pencil"></i>
            <span>Exceptions</span>
        </button>
    </div>
    <div class="panel-body">
        {{ helper.form.open(null,false,true,'role="form" class="form-horizontal"') }}
        {{ error }}

        <!--Saturday[0]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Saturday</span>
                <input type="checkbox" name="saturday" checked class="iswitch iswitch-secondary"></label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="saturday_from" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="saturday_to" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Sunday[1]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Sunday</span>
                <input type="checkbox" name="sunday" checked class="iswitch iswitch-secondary">
            </label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="sunday_from" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="sunday_to" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Monday[2]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Monday</span>
                <input type="checkbox" name="c[2]" checked class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[2]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[2]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Tuesday[3]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Tuesday</span>
                <input type="checkbox" name="c[3]" checked class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[3]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[3]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Wednesday[4]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Wednesday</span>
                <input type="checkbox" name="c[4]" checked class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[4]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[4]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Thursday[5]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Thursday</span>
                <input type="checkbox" name="c[5]" checked class="iswitch iswitch-secondary">
            </label>
            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[5]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[5]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Friday[6]-->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">
                <span class="schedul-day">Friday</span>
                <input type="checkbox" name="c[6]" checked class="iswitch iswitch-secondary">
            </label>

            <div class="col-sm-9 doctoe-list-schedule">
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        From:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="from[6]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2" style="padding:0;">
                        To:
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group input-group-minimal">
                            <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="to[6]" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                            <div class="input-group-addon">
                                <i class="linecons-clock"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>

        <!--Buttons-->
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <a href="{{ helper.uri.url('management/clinic_doctors/index') }}"
                   class="btn btn-danger cancel-button">{{ lang.cancel }}</a>
                <button type="submit" class="btn btn-secondary" style="float: right;">{{ lang.submit }}</button>
            </div>
        </div>
        {{ helper.form.close() }}

        <!--Exceptions Modal--->

        <div class="modal fade" id="exceptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span spanaria-hidden="true">&times;</span></button>
                        <h4 class="modal-title " id="myModalLabel">Schedule Exception</h4>


                    </div>
                    <div class="modal-body" id="new">
                        <form>
                            <div class="row">
                                <div class="col-sm-11"></div>
                                <button class="btn btn-secondary col-sm-1"  onclick="return add_new_exception();">Add</button>

                            </div>
                            <div class="main-manage-schedule-exception">
                                <div class="row manage-schedule-exception" >
                                    <div class="col-sm-4 schedule-input-calender">
                                        <input type="text" ><i class="linecons-calendar"></i>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4" style="padding:0;">
                                            From:
                                        </div>
                                        <div class="col-sm-8" style="padding:0;">
                                            <div class="input-group input-group-minimal">
                                                <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                                                <div class="input-group-addon">
                                                    <i class="linecons-clock"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4" style="padding:0;">
                                            To:
                                        </div>
                                        <div class="col-sm-8" style="padding:0;">
                                            <div class="input-group input-group-minimal">
                                                <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
                                                <div class="input-group-addon">
                                                    <i class="linecons-clock"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class=" row modal-footer">
                                <button type="submit" class="btn btn-secondary">Submit</button>

                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{{ constant('STYLE_JS') }}/select2/select2.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/knob/jquery.knob.min.js"></script>
<script src="{{ constant('STYLE_JS') }}/timepicker/bootstrap-timepicker.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".select").select2({
            placeholder: 'Select Specification...',
            allowClear: true
        }).on('select2-open', function () {
            // Adding Custom Scrollbar
            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
        });



    });
    add_new_exception = function () {
        var myString = (function () {/*
         <div class="row manage-schedule-exception" >
         <div class="col-sm-4 schedule-input-calender">
         <input type="text" ><i class="linecons-calendar"></i>
         </div>
         <div class="col-sm-4">
         <div class="col-sm-4" style="padding:0;">
         From:
         </div>
         <div class="col-sm-8" style="padding:0;">
         <div class="input-group input-group-minimal">
         <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
         <div class="input-group-addon">
         <i class="linecons-clock"></i>
         </div>
         </div>
         </div>

         </div>
         <div class="col-sm-4">
         <div class="col-sm-4" style="padding:0;">
         To:
         </div>
         <div class="col-sm-8" style="padding:0;">
         <div class="input-group input-group-minimal">
         <input type="text" class="form-control timepicker" id="time" placeholder="{{ lang.time }}" name="time" value="{{ helper.form.value('time', item.time) }}" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="true" >
         <div class="input-group-addon">
         <i class="linecons-clock"></i>
         </div>
         </div>
         </div>

         </div>
         </div>
         */
        }).toString().slice(15, -3);
        $('.main-manage-schedule-exception').append(myString);
        return false;
    };

</script>
<style>
    .schedule-input-calender input{
        width: 100%;
        border: 1px solid #dedede;
        position: relative;
        padding: 0 20px 0 5px;
        line-height: 30px;
    }
    .schedule-input-calender i {
        position: absolute;
        right: 16px;
        top: 1px;
        background: #dedede;
        padding: 6px;
    }
    .manage-schedule-exception{
        border-bottom: 1px solid #dedede;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .manage-schedule-exception select {
        width: 80%;
        border: 1px solid #dedede;
        height: 30px;
    }
    .modal-footer{
        border: none;
    }
    .doctoe-list-schedule select{
        width: 80%;
        border: 1px solid #dedede;
        height: 30px;
    }
</style>