<!-- registration section
    ================================================== -->

<section class="services-page-section" style="margin-top: 30px;">
    <div class="container">
        {{ helper.form.open(null,false,true,'role="form" class="comment-form"') }}
        {{ error }}
        <h2 class="registration-title" style="color:#fab000;">{{lang.register}}</h2>
        <div class="row">
            <div class="col-md-4">
                <label>{{lang.fullname}}</label>
                <input name="fullname" id="name" type="text" placeholder="{{lang.fullname}}" value="{{ helper.form.value('fullname') }}">
            </div>
            <div class="col-md-4">
                <label>{{lang.email}}</label>
                <input name="email" id="email" type="text" placeholder="{{lang.email}}" value="{{ helper.form.value('email') }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 date-and-time">
                <label>{{lang.birthdate}}</label>
                <input type="text" id="datepicker" class="datepicker-registration" placeholder="{{lang.birthdate}}" name="birthdate" value="{{ helper.form.value('birthdate') }}">
                <i class="fa fa-calendar calendar-registration"></i>
            </div>
            <div class="col-md-4">
                <label>{{lang.image}}</label>
                <input name="image" type="file" placeholder="{{lang.image}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>{{ lang.gender }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="radio" name="gender" value="male" {{ helper.form.checked('gender', 'male') }}> {{lang.male}}
            </div>
            <div class="col-md-2">
                <input type="radio" name="gender" value="female" {{ helper.form.checked('gender', 'female') }}> {{lang.female}} 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>{{lang.phone}}</label>
                <input name="phone[]" type="text" placeholder="{{lang.phone}}" value="{{ helper.form.value('phone') }}"><br />
                <div class="show-phone-option"></div>
            </div>
            <div class="col-md-4">
                <span class="add-another-option-phone"> {{lang.add_another_phone}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>{{lang.address}}</label>
                <input name="address[]" type="text" placeholder="{{lang.address}}" value="{{ helper.form.value('address') }}"><br />
                <div class="show-address-option"></div>
            </div>
            <div class="col-md-4">
                <span class="add-another-option-address"> {{lang.add_another_address}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>{{lang.password}}</label>
                <input name="password" type="password" placeholder="{{lang.password}}">
            </div>
            <div class="col-md-4">
                <label>{{lang.confirm_password}}</label>
                <input name="confirm_password" type="password" placeholder="{{lang.confirm_password}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="{{ lang.register }}">
            </div>
        </div>
        {{ helper.form.close() }}
    </div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="{{ constant('STYLE_JS') }}/gmap3.min.js"></script>
<script type="text/javascript" src="{{ constant('STYLE_JS') }}/script.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
        $(".add-another-option-phone").click(function () {
            $(".show-phone-option").append('<input name="phone[]" type="text" placeholder="{{lang.phone}}">');
        });
        $(".add-another-option-address ").click(function () {
            $(".show-address-option").append('<input name="address[]" type="text" placeholder="{{lang.address}}">');
        });
    });
</script>
<style>
    label{
        display: block;
    }
    input[type="password"]{
        line-height: 35px;
        border:1px solid #dedede;
        padding-left: 10px;
        width: 100%;
        margin-bottom: 20px;
    }
    input[type="submit"]{
        width: 100%;
        line-height: 35px;
    }
    input#datepicker {
        position: relative;
    }
    i.fa.fa-calendar.calendar-registration {
        position: absolute;
        right: 15px;
        bottom: 20px;
        padding: 13px 0;
        background-color: #dedede;
        color: #7f7f7f;
    }

</style>